<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet Detail</title>
</head>
<body>
    <h2>{{ wallet.symbol }}</h2>
    <ul>
        {% for stock in stocks %}
        <li><a href="{% url 'stock:stock_detail' stock.id %}">{{stock.symbol}}</a></li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'wallet:wallet_delete' wallet.pk %}">
        {% csrf_token %}
        <button type="submit">Delete Wallet</button>
    <a href="{% url 'wallet:wallet_list'%}"><button>Go back</button></a>
</body>
</html>